@using ChatFish.Services
@using Ganss.Xss
@inject IJSRuntime JSRuntime
@inject MessageDispatcher MessageDispatcher
@inject HtmlSanitizer Sanitizer

<form @onsubmit="SendMessage" class="chat-input-container" aria-label="Chat message input">
    <input id="chat-message" type="text" class="chat-input" @ref="inputElement" @bind="chatMessage"
        @bind:event="oninput" @onkeyup="HandleKeyPress" maxlength="45"
        placeholder="Type a short message... (/help for more)" aria-label="Chat message input" />
    <button type="submit" class="chat-submit" disabled="@string.IsNullOrWhiteSpace(chatMessage)"
        aria-label="Send message">Send</button>
</form>

@code {
    private string chatMessage = "";
    private ElementReference inputElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await inputElement.FocusAsync();
        }
    }

    private async Task SendMessage()
    {
        await MessageDispatcher.DispatchMessageAsync(Sanitizer.Sanitize(chatMessage));
        chatMessage = "";
        StateHasChanged();
    }

    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(chatMessage))
        {
            await SendMessage();
        }
    }
}