@inherits FloatingComponent
@using ChatFish.Components
@using Ganss.Xss
@inject HtmlSanitizer Sanitizer

@if (IsVisible && ToastMessage != null)
{
    <div class="@GetPositionClasses()">
        <div class="toast show floating-component" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header floating-header">
                <strong class="me-auto">@(Sanitizer.Sanitize(ToastMessage.Title))</strong>
                @if (ShowCloseButton)
                {
                    <button type="button" class="btn-close floating-close" @onclick="CloseComponent"
                        aria-label="Close"></button>
                }
            </div>
            <div class="toast-body floating-body">
                <p>@(Sanitizer.Sanitize(ToastMessage.Caption))</p>
                @if (ToastMessage.Messages.Any())
                {
                    <ul class="list-unstyled mb-0 ps-3">
                        @foreach (var message in ToastMessage.Messages)
                        {
                            <li class="ms-3 mb-2">@((MarkupString)Sanitizer.Sanitize(message))</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public Toast? ToastMessage { get; set; }
}

<style>
    @@keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }
</style>