.fish-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* `float` keyframes are defined globally in css/floating-component.css */
  animation: float 4s infinite ease-in-out;
}

.fish-img {
  z-index: 1;
}

.fish-img.right {
  align-self: flex-start;
}

.fish-img.left {
  align-self: flex-end;
}

.fish-wrapper {
  transition: transform 1s ease-in-out;
}
