.floating-component {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), inset 0 0 20px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    animation: float 4s infinite ease-in-out;
}

.floating-header {
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floating-body {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 15px;
}

.floating-close {
    background-color: rgba(255, 255, 255, 0.6);
}

.floating-component::before,
.floating-component::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

.floating-component::before {
    width: 15px;
    height: 15px;
    bottom: -20px;
    left: 20%;
    animation: float 3s infinite ease-in-out 0.5s;
}

.floating-component::after {
    width: 10px;
    height: 10px;
    bottom: -35px;
    left: 40%;
    animation: float 3s infinite ease-in-out 1s;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
